@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Projetos";
}

<div class="text-center">

    <h1>Formulario de cadastro de projetos</h1>
    <p>Informe todos os dados dos campos obrigatorios para adicionar um projeto.</p>
    <br />
</div>

<form>

    <div class="row">

        <div class="col mb-3">
            <select class="form-select" disabled>
                <option selected>RJNET</option>
            </select>
        </div>
        <div class="col mb-3">
            <input type="text" class="form-control" placeholder="Tipo do projeto" aria-label="Tipo do projeto">
        </div>
        <div class="col mb-3">
            <input type="text" class="form-control" placeholder="Nome do projeto" aria-label="Nome do projeto">
        </div>
        <div class="col mb-3">
            <input type="text" class="form-control" placeholder="Localidade" aria-label="Localidade">
        </div>
    </div>
    <br />
    <div class="d-grid gap-2">
        <a class="btn btn-danger" asp-controller="Projetos" asp-action="Index" role="button">Voltar</a>
        <button type="submit" class="btn btn-block btn-success">Cadastrar</button>
    </div>
</form>
